<h1 class="mat-h3" style="padding: 15px 0 0 15px">Change Password</h1>
<mat-card class="half">
  <mat-card-content>
    <form [formGroup]="passwordForm">
      <mat-toolbar-row>
        <mat-form-field class="full" appearance="outline" color="accent">
          <mat-label>New Password</mat-label>
          <label>
            <input matInput formControlName="password"
                   [matTooltip]="'Must have Alphanumeric Letters and Symbol at least length of 8 to Increase Password Strength'">
          </label>
          <mat-error *ngIf="passwordForm.get('password').hasError('required')">Required Field</mat-error>
          <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">Minimum Length Should be 8</mat-error>
        </mat-form-field>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-form-field class="full" appearance="outline" color="accent">
          <mat-label>Confirm Password</mat-label>
          <label>
            <input matInput formControlName="c_password"
                   matTooltip="Re-Enter the previous field to confirm password">
          </label>
          <mat-error *ngIf="passwordForm.get('c_password').hasError('compare')">Passwords don't Match</mat-error>
          <mat-error *ngIf="passwordForm.get('c_password').hasError('required')">Required Field</mat-error>
        </mat-form-field>
      </mat-toolbar-row>
    </form>
  </mat-card-content>
  <mat-card-actions align="right">
    <mat-action-row>
      <button mat-raised-button color="accent" (click)="alerts()">
        <mat-icon>save</mat-icon>
        save
      </button>
      <button mat-stroked-button color="warn">
        <mat-icon>cancel</mat-icon>
        cancel
      </button>
    </mat-action-row>
  </mat-card-actions>
</mat-card>
