<h1 class="mat-h3" style="padding: 15px 0 0 15px">{{ title }}</h1>
<mat-card>
  <mat-grid-list cols="1" rowHeight="6.9:1">
    <mat-grid-tile>
      <mat-card style="height:100%;width: 100%;"><mat-card-title align="center">General Setup</mat-card-title>
        <mat-card-content>
          <app-field3></app-field3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card><br>
<mat-card>
  <mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile style="border-right: solid">
    <mat-card style="height:100%;width: 100%"><mat-card-title align="center">Manage Book Categories</mat-card-title>
      <mat-card-content>
        <app-field1></app-field1>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card style="height:100%;width: 100%"><mat-card-title align="center">Manage Book Publishers</mat-card-title>
      <mat-card-content>
        <app-field2></app-field2>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</mat-card>

