<h1 class="mat-h3" style="padding: 10px 0 0 10px">Users List</h1>
<div class="example-container mat-elevation-z8 pad">
  <div mat-dialog-actions align="end">
    <button mat-raised-button routerLink="../user" matTooltip="Add Users" aria-label="Button">
      <mat-icon>person_add</mat-icon>
    </button>
    <mat-form-field color="accent">
      <input matInput #search (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="example-table-container" id="table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Name</b> </th>
        <td mat-cell *matCellDef="let UserRow"> {{UserRow.firstname }}
          <span *ngIf="UserRow.lastname!==null">{{ UserRow.lastname }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Email</b> </th>
        <td mat-cell *matCellDef="let UserRow"> {{UserRow.email||'Not available'}}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Phone Number</b></th>
        <td mat-cell *matCellDef="let UserRow">{{UserRow.mobile||'Not available'}}</td>
      </ng-container>
      <ng-container matColumnDef="added_on">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Added On</b> </th>
        <td mat-cell *matCellDef="let UserRow">{{UserRow.added_on||'Not available'}} </td>
      </ng-container>
      <ng-container matColumnDef="added_by">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Added By</b></th>
        <td mat-cell *matCellDef="let UserRow">{{UserRow.added_by||'Not available'}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Status</b></th>
        <td mat-cell *matCellDef="let UserRow">{{UserRow.status==='A'?'Active':''}}{{UserRow.status==='T'?'Disabled':''}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Action</b> </th>
        <td mat-cell *matCellDef="let UserRow">
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #appMenu="matMenu">
            <a mat-menu-item routerLink="../user" [queryParams]="{ id: UserRow.user_id }"><mat-icon>edit</mat-icon>Edit</a>
            <a mat-menu-item routerLink="../print" [queryParams]="{ id: UserRow.user_id }"><mat-icon>print</mat-icon>View</a>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="background-color: whitesmoke"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table><div align="center" *ngIf="loading===true"><mat-spinner></mat-spinner></div>
    <div align="center" *ngIf="dataSource.data.length === 0 && loading===false"><h2>No Records Found</h2></div></div>
<mat-toolbar style="bottom: 0; position: sticky; z-index: 10; background-color: whitesmoke">
  <mat-toolbar style="bottom: 0; position: sticky; z-index: 10; background-color: whitesmoke">
    <mat-toolbar-row>
      <button mat-icon-button color="accent" matTooltip="Share External">
        <mat-icon title="share" [matMenuTriggerFor]="exportMenu">share</mat-icon>
      </button>
      <mat-menu #exportMenu>
<!--        <a mat-menu-item (click)="print_f()"><mat-icon>print</mat-icon>Print - PDF</a>-->
<!--        <a mat-menu-item (click)="text_f()"><mat-icon>text_format</mat-icon>Editable - Doc</a>-->
<!--        <a mat-menu-item (click)="csv_f()"><mat-icon>archive</mat-icon>Export as CSV</a>-->
<!--        <a mat-menu-item (click)="excel_f()"><mat-icon>insert_drive_file</mat-icon>Export as Sheet</a>-->
      </mat-menu>
      <mat-form-field color="accent" style="width: 10%">
        <mat-select value="A" (selectionChange)="f1=$event.value;applyFilter(search.value)"><mat-option value="">All</mat-option>
          <mat-option value="A">Active</mat-option><mat-option value="T">Disabled</mat-option></mat-select>
      </mat-form-field><mat-form-field style="width: 20%"><mat-label>Added On</mat-label>
      <input matInput [matDatepicker]="dp1" [value]="f2" (dateInput)="f2=$event.target.value;applyFilter(search.value)" readonly>
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle><mat-datepicker #dp1 disabled="false"></mat-datepicker>
      <button mat-button *ngIf="f2!=''" (click)="f2='';applyFilter(search.value)" color="warn" matSuffix>clear</button>
    </mat-form-field>
      <span style="flex: 1 1 auto;"></span>
      <mat-paginator (page)="table(search.value,$event)" [pageSizeOptions]="pagesize" [pageSize]="10" showFirstLastButtons color="accent" style="background-color: whitesmoke"></mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-toolbar>
</div>
